#app{
  background: #fafafa;
  min-height: 100vh;
  padding-bottom: 20px;
}

.form{
  margin: 30px 10px;
  .title{
    text-transform: uppercase;
    color: grey;

  }

  .mui--is-empty.mui--is-dirty:focus{
    border-color: grey;
    &~label {
      color: grey;
    }
  }

  input:invalid:not(:focus):required.mui--is-empty.mui--is-dirty{
    border-color: #FF9D00;
  }

  .mui--is-not-empty:focus, .mui--is-not-empty{
    border-color: green;
    border-width: 2px;
    &~label{
      color: green;
    }
  }
  .content{
    margin: 20px 0px;
    .label{
      font-size: 16px;
      color: #B9B9B9;
      font-weight: 100;
      &.error{
        color: red;
        font-weight: 500;
        margin-right: 10px;
      }
    }
    .error-message{
      color: red;
      font-style: italic;
    }

  }
  .submit-btn{
      background: white;
      border: 2px solid grey;
      border-radius: 5px;
      color: grey;
      text-transform: uppercase;
      padding: 5px 15px;
      font-size: 16px;
  }
  .submit-btn:hover, .submit-btn:focus{
      background: grey;
      color: white;
  }
}

.show-more {
  display: flex;
  justify-content: center;
  span {
    padding: 15px 30px;
    border: 1px solid orange;
    font-size: 15px;
    cursor: pointer;
  }
}

