.appBar{
	position: absolute;
	z-index: 100;
	font-family: Roboto, sans-serif;
	font-size: 18px;
	top: 0px;
	width: 100%;
	.content{
		width: 98%;
		margin: 0 auto;
		height: 100%;
		padding: 15px 0;
		.logo:before{
			content:"\f1bb";
			font-family: FontAwesome;
			padding: 0 10px;
			text-shadow: 0px 0px 18px black;
		}
		.logo{
			font-size: 24px;
			display: inline;
			text-shadow: 0px 0px 18px black;
		}
		.right-menu{
			float: right;
			.user-logo{
				color: white;
				margin: 0 15px;
				text-shadow: 0px 0px 18px black;
			}
		}
	}

}

.jumbotron{
	position: relative;
	height: 556px;
	.overlay{
		position: absolute;
		height: 556px;
		background: radial-gradient(transparent, transparent, rgba(0,0,0,0.5));
		width: 100%;
	}
	.img{
		height: 556px;
		background-size: auto 556px;
		background-repeat: no-repeat;
		z-index: 0;
		position: absolute;
		width: 100%;
	}
}

.menuBar{
	text-align: center;
	border-bottom: 1px solid black;
	font-family: Arial;
	.content{
		display: inline-block;
		color: black;
		.menu-item:focus{
			background: red;
		}

		.menu-item{
			height: 100%;
			margin: 0px;
			display: inline-block;
			.mui-btn{
				margin: 0px;
				height: 100%;
    			border-radius: 0px;
    			a{
		    		text-transform: uppercase;
		    		color: rgba(0, 0, 0, 0.87);
		    		text-decoration: none;
    			}
			}
			.mui-btn:hover{
				box-shadow: none;
			}
			.mui-btn:focus{
				box-shadow: none;
			}
			.mui-dropdown__menu{
				min-width: 100%;
				width: 100%;
				box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
				top: 60px !important;
			}
		}
	}
}


.form{
  margin: 30px 10px;
  .title{
    text-transform: uppercase;
    color: grey;

  }

  .mui--is-empty.mui--is-dirty:focus{
    border-color: grey;
    &~label {
      color: grey;
    }
  }

  input:invalid:not(:focus):required.mui--is-empty.mui--is-dirty{
    border-color: #FF9D00;
  }

  .mui--is-not-empty:focus, .mui--is-not-empty{
    border-color: green;
    border-width: 2px;
    &~label{
      color: green;
    }
  }
  .content{
    margin: 20px 0px;
    .label{
      font-size: 16px;
      color: #B9B9B9;
      font-weight: 100;
      &.error{
        color: red;
        font-weight: 500;
        margin-right: 10px;
      }
    }
    .error-message{
      color: red;
      font-style: italic;
    }

  }
  .submit-btn{
      background: white;
      border: 2px solid grey;
      border-radius: 5px;
      color: grey;
      text-transform: uppercase;
      padding: 5px 15px;
      font-size: 16px;
  }
  .submit-btn:hover, .submit-btn:focus{
      background: grey;
      color: white;
  }
}
