$calendar-size: calc(100% / 7 + 1px);

/*@media (max-width: $xs-size){
  .calendar{
    .number{
      font-size: 3vw !important;
    }
    .weekday{
      font-size: 3vw !important;
    }
    .reserved-title{
      font-size: 3vw !important;
    }
  }
}*/

.calendar{
  padding: 0px;
  font-size: 0;
  text-align: center;
  margin-bottom: 20px;
  .month{
    width: 100%;
    margin: auto;
    .weekday{
      font-size: 1.5rem;
      text-transform: uppercase;
      margin: 0px;
      background: transparent;
      display: inline-block;
      position: relative;
      width: $calendar-size;
      margin-left: -1px;
    }
    .day-container{
      //box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
      display: flex;
      flex-wrap: wrap;
      .day{
        margin: 0px;
        background: transparent;
        border: 1px solid #E8E8E8;
        display: inline-block;
        position: relative;
        width: $calendar-size;
        padding-bottom: $calendar-size; /* = width for a 1:1 aspect ratio */
        .container{
          color: grey;
          position: absolute;
          height: 100%;
          width: 100%;
          text-align: left;
          background: white;
          line-height: 0;
          .number{
            font-size: 1rem;
            margin: 3px 5px;
            line-height: 1;
            display: inline-block;
          }
          a{
            line-height: 1.4;
          }
          .diff-month{
            color: #DEDEDE;
          }

        }
        .reserved-title{
          position: relative;
          font-size: 1rem;
          display: block;
          color: white;
          background: $reservation-secondary-color;
          z-index: 200;
          text-decoration: none;
          overflow: hidden;
          text-overflow: ellipsis;
          font-weight: 100;
        }


      }
      .day, .first{
        margin-left: -1px;
        margin-top: -1px;
      }
    }
  }
}

.calendar.small{
  .month{
    .weekday{
      font-size: 1rem;
    }
    .day{
      .container{
        .number{
          font-size: 1rem;
        }
      }
      .reserved-title{
        font-size:  1rem;
      }

    }
  }
}



