$calendar-size: 13.7%;

@media (max-width: 900px){
  .calendar{
    .number{
      font-size: 15px !important;
    }
  }
}

@media (max-width: 768px){
  .calendar{
    .number{
      font-size: 20px !important;
    }
  }
}


.calendar{
  padding: 0px;
  font-size: 0px;
  text-align: center;
  .month{
    width: 100%;
    margin: auto;
    .header{
      font-size: 20px;
      margin: 20px 0;
      .title{
        font-size: 30px;
        display: inline-block;
        width: 50%;
        text-transform: uppercase;
        color: $reservation-secondary-color;
      }
      .cal-btn{
        display: inline-block;
        cursor: pointer;
        width: 30px;
        border: 2px solid $reservation-secondary-color;
        border-radius: 4px;
        color: $reservation-secondary-color;
        margin: 0px 3px;
        font-family: "FontAwesome";
      }
      .cal-btn:hover, .cal-btn:focus{
        background: $reservation-secondary-color;
        color: white;
      }

      .next-month-btn:before{
        content:"\f105";
      }

      .prev-month-btn:before{
        content:"\f104";
      }

      .next-year-btn:before{
        content:"\f101";
      }

      .prev-year-btn:before{
        content:"\f100";
      }

    }
    .weekday{
      font-size: 20px;
      text-transform: uppercase;
      margin: 0px;
      background: transparent;
      display: inline-block;
      position: relative;
      width: $calendar-size;
    }
    .day{
      margin: 0px;
      background: transparent;
      border: 1px solid #E8E8E8;
      display: inline-block;
      position: relative;
      width: $calendar-size;
      padding-bottom: $calendar-size; /* = width for a 1:1 aspect ratio */
      .container{
        color: grey;
        position: absolute;
        height: 100%;
        width: 100%;
        text-align: left;

        .number{
          font-size: 20px;
          margin: 5px;
        }
        .diff-month{
          color: #DEDEDE;
        }

      }
      .reserved-title{
        position: relative;
        font-size: 15px;
        display: block;
        color: white;
        background: $reservation-secondary-color;
        z-index: 200;
        text-decoration: none;
        overflow: hidden;
        text-overflow: ellipsis;
      }


    }
    .day, .first{
      margin-left: -1px;
    }
  }
}

.calendar.small{
  margin-top: 50px;
  margin-right: 20px;
  .month{
    .header{
      .title{
        font-size: 20px;
      }
    }
    .weekday{
      font-size: 15px;
    }
    .day{
      .container{
        .number{
          font-size: 15px;
        }
      }
      .reserved-title{
        font-size:  13px;
      }

    }
  }
}



