$infopost-primary-color: #5CD4FF;
$infopost-secondary-color: #4396BF;
$infopost-tertiary-color: #DAE9F1;
$infopost-light-color: #68b0ca;

$infopost-primary-color-hover: #54c6ef;
$infopost-secondary-color-hover: #3c86ab;
$infopost-tertiary-color-hover: #DAE9F1;
$infopost-light-color-hover: #5793a9;

$reservation-primary-color: #FF5C7C;
$reservation-secondary-color: #D43353;
$reservation-dark-color: #A72841;
$reservation-tertiary-color: #ec5a77;

$reservation-primary-color-hover: #f35876;
$reservation-secondary-color-hover: #c72c4b;
$reservation-tertiary-color-hover: #de536f;

$post-primary-color: #5cffa8;
$post-secondary-color: #43bf7d;
$post-tertiary-color: #C8FFE1;
$post-light-color: #4ae894;
$post-dark-color: #24804f;

$post-primary-color-hover: #56e699;
$post-secondary-color-hover: #3daf72;
$post-light-color-hover: #44d689;

$task-primary-color: #ffb900;
$task-secondary-color: #FF9C33;
$task-tertiary-color: #FFF0CA;
$task-light-color: #f7b064;

$task-primary-color-hover: #f5932b;
$task-secondary-color-hover: #f5932b;
$task-light-color-hover: #eca253;

$user-primary-color: #a3da17;
$user-secondary-color: #699005;

$user-primary-color-hover: #94c516;
$user-secondary-color-hover: #597b03;

