.event{
  margin: 60px;
  .box{
    position: relative;
    padding: 35px 50px;
    //border: 1px solid #E8E8E8;
    min-height: 150px;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0,0,0,.04);
    border: 1px solid rgba(0,0,0,.09);
    .title{
        text-transform: uppercase;
        font-size: 24px;
    }
    .content{
      margin: 20px 0px;
      font-size: 16px;
      color: rgba(0, 0, 0, 0.54);
    }
    .details{
      position: relative;
      .detail{
        margin-right: 20px;
        color: rgba(0, 0, 0, 0.3);
        font-size: 15px;
      }
      .detail:before{
        padding-right: 5px;
        //font-size: 20px;
        font-family: "FontAwesome";
      }
      .created-at:before{
        content: "\f073";
      }
      .user{
        color: #4A4A4A;
        font-weight: 400px;
      }
/*       .user:before{
        content:"\f007";
      } */
      .comment-count:before{
        content:"\f075";
      }
      .edit-menu{
        position: absolute;
        bottom: 0px;
        right: 0px;
        color: rgba(0, 0, 0, 0.18);
        .circle{
          height: 32px;
          width: 32px;
          border-radius: 50%;
          background: red;
          color: white;
          position: relative;
          display: inline-block;
          margin: 0px 2px;
          cursor: pointer;
          .fa{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
          .delete{
            font-size: 25px;
            padding: 2px;
          }
          .delete:hover{
            color: #F57373;
          }
          .update{
            font-size: 22px;
            padding: 2px;
          }
          .update:hover{
            color: #69A96D;
          }
        }
        .comments{
          display: inline-block;
          .fa-caret-down{
            left: 7px;
            top: 17px;
            font-size: 10px;
          }
          .fa-comment{
            left: 18px;
          }
        }
      }
    }

    .primary-symbol{
      position: absolute;
      top: 16px;
      left: -35px;
      height: 70px;
      width: 70px;
      border-radius: 50%;
      .img{
        font-family: "FontAwesome";
        color: white;
        font-size: 35px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .secondary-symbol{
      position: absolute;
      top: 85px;
      left: -25px;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      .img{
        font-family: "FontAwesome";
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
