/* .event{
  margin: 60px 60px 60px 130px;
  .box{
    position: relative;
    padding: 35px;
    //border: 1px solid #E8E8E8;
    min-height: 150px;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0,0,0,.04);
    border: 1px solid rgba(0,0,0,.09);
    .title{
        text-transform: uppercase;
        font-size: 24px;
    }
    .content{
      margin: 20px 0px;
      font-size: 18px;
      color: grey;
    }
    .left-details{
      position: absolute;
      top: 45px;
      right: 100%;
      text-align: right;
      white-space: nowrap;
      margin-right: -13px;
      line-height: 22px;
      .created-at{
        position: relative;
        right: 0px;
      }
      .created-at:after{
        padding-left: 10px;
        font-size: 30px;
        font-family: "FontAwesome";
        content: "\f073";
      }
      .user:after{
        padding-left: 10px;
        font-size: 30px;
        font-family: "FontAwesome";
        content:"\f007";
      }
      .comment-count:after{
        padding-left: 10px;
        font-size: 30px;
        font-family: "FontAwesome";
        content:"\f075";
      }
    }
    .edit-menu{
      position: absolute;
      top: 0px;
      right: -12px;
      .delete{
        font-size: 34px;
        color: #FFE0E7;
        padding: 2px;
        display: block;
      }
      .delete:hover{
        color: #F57373;
      }
      .update{
        font-size: 30px;
        color: #B9F7DE;
        padding: 2px;
        display: block;
      }
      .update:hover{
        color: #69A96D;
      }
    }
    .show-comments-btn{
      display: inline-block;
      position: absolute;
      bottom: -19px;
      right: 50%;
      font-size: 25px;
      color: #E4E4E4;
      .img{
        padding: 2px;
      }

    }
    .show-comments-btn:hover{
        color: grey;
    }

    .primary-symbol{
      position: absolute;
      top: -35px;
      left: -35px;
      height: 70px;
      width: 70px;
      border-radius: 50%;
      .img{
        font-family: "FontAwesome";
        color: white;
        font-size: 35px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .secondary-symbol{
      position: absolute;
      top: -25px;
      left: 38px;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      .img{
        font-family: "FontAwesome";
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
} */


.event{
  margin: 60px;
  .box{
    position: relative;
    padding: 35px 50px;
    //border: 1px solid #E8E8E8;
    min-height: 150px;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0,0,0,.04);
    border: 1px solid rgba(0,0,0,.09);
    .title{
        text-transform: uppercase;
        font-size: 24px;
    }
    .content{
      margin: 20px 0px;
      font-size: 16px;
      color: rgba(0, 0, 0, 0.54);
    }
    .details{
      .detail{
        margin-right: 20px;
        color: rgba(0, 0, 0, 0.3);
        font-size: 15px;
      }
      .detail:before{
        padding-right: 5px;
        //font-size: 20px;
        font-family: "FontAwesome";
      }
      .created-at:before{
        content: "\f073";
      }
      .user{
        color: #4A4A4A;
        font-weight: 400px;
      }
/*       .user:before{
        content:"\f007";
      } */
      .comment-count:before{
        content:"\f075";
      }
    }
    .edit-menu{
      position: absolute;
      top: 0px;
      right: 2px;
      margin: 12px 10px;
      color: rgba(0, 0, 0, 0.18);
      .delete{
        font-size: 25px;
        padding: 2px;
      }
      .delete:hover{
        color: #F57373;
      }
      .update{
        font-size: 22px;
        padding: 2px;
      }
      .update:hover{
        color: #69A96D;
      }
    }
    .show-comments-btn{
      display: inline-block;
      position: absolute;
      bottom: -19px;
      right: 50%;
      font-size: 25px;
      color: #E4E4E4;
      .img{
        padding: 2px;
      }

    }
    .show-comments-btn:hover{
        color: grey;
    }

    .primary-symbol{
      position: absolute;
      top: 16px;
      left: -35px;
      height: 70px;
      width: 70px;
      border-radius: 50%;
      .img{
        font-family: "FontAwesome";
        color: white;
        font-size: 35px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .secondary-symbol{
      position: absolute;
      top: 85px;
      left: -25px;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      .img{
        font-family: "FontAwesome";
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
