$gallery-primary-color: #D66FFF;

.gallery {

  .photoset-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    padding-top: 60px;
    .photoset-frame{
      position: relative;
      cursor: pointer;
      flex: 1 1 30%;
      margin: 1%;
      background-color: white;
      box-shadow: 0 1px 4px rgba(0,0,0,.04);
      border: 1px solid rgba(0,0,0,.09);
      padding: 35px 20px 0px 20px;
      .photoset {
        background-repeat: no-repeat;
        background-position: center center;
        background-color: #fff;
        background-size: cover;
        height: 260px;
      }

      .details{
        position: relative;
        margin: 30px 0px;
        .title{

        }
        .amount{
          position: absolute;
          right: 0px;
          font-style: italic;
          color: grey;
        }
      }
      &:hover{
        box-shadow: 0 1px 11px rgba(133, 47, 140, 0.39);
      }
    }
  }

  .photo {
    display: inline-block;
    img {
      height: 100%;
      width: 100%;
    }
  }
}
