.app-row{
  display: flex;
  justify-content: flex-end;
  .col-main-home{
    flex: 0 0 60%;
  }
  .col-side{
    flex: 0 0 25%;
    min-width: 350px;
  }

  @media(max-width: 900px){
    .col-main-home{
      flex: 0 0 100%;
    }
    .col-side{
      display: none;
    }
  }

}

.app-row-center{
  display: flex;
  justify-content: flex-begin;
  .col-left{
    flex: 0 0 410px;
  }
  .col-main{
    flex: 0 0 1100px;
  }
  @media(max-width: 1510px){
    .col-left{
      flex: 0 0 350px
    }
    .col-main{
      flex: 0 0 870px;
    }
  }

}
@media(max-width: 1200px){
  .app-row-center{
    flex-direction: column;
    .col-left{
      flex: 0 0 100%;
    }
    .col-main{
      flex: 0 0 100%;
    }
  }
}



