$infopost-primary-color: #5CD4FF;
$infopost-secondary-color: #4396BF;
$infopost-tertiary-color: #DAE9F1;
.infopost{


  .title{
    color: $infopost-secondary-color;
  }
  .details .user{
    color: $infopost-secondary-color !important;
  }

  .comment-box{
    .user{
      color: $infopost-secondary-color;
    }
    .btn{
      color: $infopost-secondary-color;
      border-color: $infopost-secondary-color;
    }

    .btn:hover{
      color: white;
      background: $infopost-secondary-color;
    }

    .btn:focus{
      color: white;
      background: $infopost-secondary-color;
    }
  }
  .primary-symbol{
    background-color: $infopost-primary-color;
    .img:before{
      content:"\f129";
    }
  }
  .secondary-symbol{
    background-color: $infopost-secondary-color;
    .num0:before{
      content:"\f15c";
    }
    .num1:before{
      content:"\f06c";
    }
    .num2:before{
      content:"\f0ad";
    }
    .num3:before{
      content:"\f1bb";
    }
    .num4:before{
      content:"\f06d";
    }
    .num5:before{
      content:"\f0e7";
    }
    .num6:before{
      content:"\f095";
    }
    .num7:before{
      content:"\f13d";
    }
    .num8:before{
      content:"\f043";
    }
    .num9:before{
      content:"\f014";
    }

  }
}

.infopost.category-list{
  .selected{
    color: $infopost-secondary-color;
    .item-count{
      background: $infopost-secondary-color !important;
    }
  }
  .selectable.header:hover{
    color: $infopost-secondary-color;
    font-weight: 500;
    .item-count{
      background-color: $infopost-secondary-color !important;
    }
  }
}
.infopost.item-list{
  .item:hover{
    background-color: $infopost-secondary-color;
    .title{
      color: white;
    }
  }
  .item:before{
    content:"\f129";
  }
  .item{
    background-color: $infopost-tertiary-color;
    &.selected{
      background: $infopost-secondary-color;
      .title{
        color: white;
      }
    }
  }
  .title{
    color: $infopost-secondary-color;
  }
}

.infopost-form{
  .title{
    color: $infopost-secondary-color;
  }

  .mui--is-empty.mui--is-dirty:focus{
    border-color: $infopost-secondary-color;
    &~label {
      color: $infopost-secondary-color;
    }
  }
  .mui-select:focus > select{
    border-color: $infopost-secondary-color;
  }

  .submit-btn{
      border: 2px solid $infopost-secondary-color;
      color: $infopost-secondary-color;
  }
  .submit-btn:hover, .submit-btn:focus{
      background: $infopost-secondary-color;
  }
  .text-editor {
    .controls{
      background-color: $infopost-primary-color;
      .button-bar{
        .button {
          &.active {
            background: $infopost-secondary-color;
            border: 1px solid $infopost-secondary-color;
          }
        }
      }
      .button-bar:first-child{
        .button:first-child{
          border-top-left-radius: 4px;
        }
      }
    }
  }
}
