.category-list{
  display: inline-block;
  vertical-align: middle;
  margin: 20px;
  font-weight: 200;
  color: #CACACA;
  .selected{
    font-weight: 500;
  }
  .header{
    font-size: 20px;
    position: relative;
    margin-right: 20px;
    .item-count{
      display: inline-block;
      min-width: 10px;
      padding: 3px 7px;
      font-size: 12px;
      font-weight: 700;
      line-height: 1;
      color: white;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      background-color: #CACACA;
      border-radius: 10px;
      position: absolute;
      bottom: 5px;
      margin-left: 4px;
    }
  }
}

.item-list{
  vertical-align: middle;
  padding-left: 20px;
  padding-bottom: 20px;
  a{
    font-size: 17px;
    font-weight: 500;
  }
}
