@import '../../node_modules/muicss/lib/sass/mui/_colors.scss';

// customize MUI variables
$mui-primary-color:       mui-color('purple', '500');
$mui-primary-color-dark:  mui-color('purple', '700');
$mui-primary-color-light: mui-color('purple', '100');

$mui-accent-color:        mui-color('green', 'A200');
$mui-accent-color-dark:   mui-color('green', 'A100');
$mui-accent-color-light:  mui-color('green', 'A400');

$mui-appbar-bg-color: transparent;
$mui-appbar-font-color:	mui-color('white');

@import '../../node_modules/muicss/lib/sass/mui.scss';

@import './grid.scss';
@import './app.scss';
@import './login.scss';
@import './event.scss';

@import './user.scss';
@import './task.scss';
@import './post.scss';
@import './infopost.scss';
@import './reservation.scss';
@import './date_picker.scss';

@import './comment.scss';
@import './calendar.scss';

@import './text-editor.scss';
@import './list.scss';
@import './gallery.scss';

@import './main_menu.scss';

@import './spinner_overlay';

@import './pagination';

body{
  font-family: Roboto, sans-serif;
}

::selection {
  background: #57D294;
  color: white;
}

::-moz-selection {
  background: #57D294;
  color: white;
}

.main-view{
  padding: 0px;
}



.page-title{
  color: white;
  position: absolute;
  top: 161px;
  left: 17px;
  font-size: 39px;
  padding: 20px 10px;
}

.add-new{
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: -50px;
  color: white;
  font-size: 39px;
  border-radius: 50%;
  background: rgba(159, 0, 255, 0.47);
  width: 40px;
  height: 40px;
  text-align: center;
  span{
    position: relative;
    top: -7px;
  }
  &:hover{
    background: rgba(212, 0, 184, 0.74);
  }
}


.btn{
    color: white;
    background: transparent;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 17px;
    padding: 5px 10px;
    font-family: Roboto, sans-serif;
}

.btn:hover{
	color: black;
	background: white;
	text-decoration: none;
}

.btn:focus{
	color: black;
	background: white;
	text-decoration: none;
}

.mui-row{
	margin: 0px; /*sivuttaispalkki ilmestyy ilman margin nollaa!!!*/
  //padding: 10px 30px;
}

.input-group {
  display: table;
  margin: 17px 0px;
  .form-control {
    display: table-cell;
    width: 100%;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .input-group-btn {
    display: table-cell;
    width: 1%;
  }

  .btn {
      margin-left: -1px;
      padding: 6px 12px;
      font-size: 14px;
      border: 1px solid transparent;
  }
}



