.main-menu{
  margin-bottom: 40px;
  overflow: hidden;
  .jumbotron{
    position: relative;
    height: 250px;
    overflow: hidden;
    .overlay{
      position: absolute;
      height: 250px;
      //background: rgba(91, 158, 15, 0.11);
      background: linear-gradient(to right, rgba(91, 158, 15, 0.11) 75%, rgba(23, 41, 13, 0.46));
      width: 100%;
    }
    .img{
      height: 250px;
      background-size: auto 556px;
      background-repeat: no-repeat;
      z-index: 0;
      position: absolute;
      width: 100%;
      background-image: url('../../assets/jumpotron.jpg');
      background-position: left;
    }
  }
}
