$reservation-primary-color: #FF5C7C;
$reservation-secondary-color: #D43353;
$reservation-dark-color: #A72841;

.reservation{
  .title{
    color: $reservation-secondary-color;
  }
  .left-details{
    .created-at:after, .user:after, .comment-count:after{
      color: $reservation-secondary-color;
    }
  }
  .dates{
    .start-date:before{
      padding: 0 5px;
      font-family: "FontAwesome";
      content:"\f073";
    }
    .end-date:before{
      padding: 0 5px;
      font-family: "FontAwesome";
      content:"\f073";
    }
    .separator{
      padding: 0 5px;
    }
  }
  .comment-box{
    .user{
      color: $reservation-secondary-color;
    }
    .btn{
      color: $reservation-secondary-color;
      border-color: $reservation-secondary-color;
    }

    .btn:hover{
      color: white;
      background: $reservation-secondary-color;
    }

    .btn:focus{
      color: white;
      background: $reservation-secondary-color;
    }
  }
  .primary-symbol{
    background-color: $reservation-primary-color;
    .img:before{
      content:"\f133";
    }
  }
}


.reservation-form{
  .title{
    color: $reservation-secondary-color;
  }

  .mui--is-empty.mui--is-dirty:focus{
    border-color: $reservation-secondary-color;
    &~label {
      color: $reservation-secondary-color;
    }
  }
  .date{
    border-bottom: 1px solid #BDBDBD;
    height: 47px;
    font-size: 16px;
    color: #BFBFBF;
    font-weight: 100;
    padding-top: 15px;
    margin-bottom: 20px;
    &.filled{
      color: black;
      border-bottom: 2px solid green;
      font-weight: normal;
    }
  }

  .submit-btn{
      border: 2px solid $reservation-secondary-color;
      color: $reservation-secondary-color;
  }
  .submit-btn:hover, .submit-btn:focus{
      background: $reservation-secondary-color;
  }
  .text-editor {
    .controls{
      background-color: $reservation-primary-color;
      .button-bar{
        .button {
          &.active {
            background: $reservation-secondary-color;
            border: 1px solid $reservation-secondary-color;
          }
        }
      }
      .button-bar:first-child{
        .button:first-child{
          border-top-left-radius: 4px;
        }
      }
    }
  }
}


.tabs{
  .tab-headers{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    background-color: transparent;
    white-space: nowrap;
    overflow-x: auto;
    border-bottom: 2px solid #E4E4E4;
    overflow: inherit;
    li{
      cursor: pointer;
      display: inline-block;
      //display: block;
      white-space: nowrap;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 14px;
      color: rgba(0, 0, 0, 0.87);
      height: 48px;
      line-height: 48px;
      padding-left: 24px;
      padding-right: 24px;
      user-select: none;
      position: relative;
      bottom: -2px;
    }
    .active{
      color: $reservation-secondary-color;
      border-bottom: 3px solid $reservation-secondary-color;
    }
  }
}

