.index-layout{
  .column{
    min-height: 200px;
    padding: 0px;
    .section{
      position: relative;
      margin: 20px;
      padding: 20px;
      background: rgba(224, 206, 176, 0.24);
      .header{
        display: inline-block;
        color: #949494;
      }
      .symbol{
        font-family: "FontAwesome";
        font-size: 53px;
        color: #FFFFFF;
        display: inline-block;
        margin-right: 20px;
      }
      .symbol_buy:before{
        content:"\f07a";
      }
      .symbol_fix:before{
        content:"\f0ad";
      }
      .symbol_food:before{
        content:"\f0f5";
      }
      .symbol_other:before{
        content:"\f085";
      }
      .symbol_nature:before{
        content:"\f06c";
      }
    }
  }
}


.task-s{
  margin: 60px;
  .box{
    position: relative;
    padding: 27px 50px;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0,0,0,.04);
    border: 1px solid rgba(0,0,0,.09);
    .title{
        text-transform: uppercase;
        font-size: 24px;
    }
    .overlined{
      text-decoration: line-through;
    }
    .content{
      margin: 20px 0px;
      font-size: 16px;
      color: rgba(0, 0, 0, 0.54);
    }
    .details{
      position: relative;
      .detail{
        margin-right: 20px;
        color: rgba(0, 0, 0, 0.3);
        font-size: 15px;
      }
      .detail:before{
        padding-right: 5px;
        //font-size: 20px;
        font-family: "FontAwesome";
      }
      .created-at:before{
        content: "\f073";
      }
      .user{
        color: #4A4A4A;
        font-weight: 400px;
      }
      .comment-count:before{
        content:"\f075";
      }
      .edit-menu{
        position: absolute;
        bottom: 0px;
        right: 0px;
        color: rgba(0, 0, 0, 0.18);
        .circle{
          height: 32px;
          width: 32px;
          border-radius: 50%;
          background: red;
          color: white;
          position: relative;
          display: inline-block;
          margin: 0px 2px;
          cursor: pointer;
          .fa{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
          .delete{
            font-size: 25px;
            padding: 2px;
          }
          .delete:hover{
            color: #F57373;
          }
          .update{
            font-size: 22px;
            padding: 2px;
          }
          .update:hover{
            color: #69A96D;
          }
        }
        .comments{
          display: inline-block;
          .fa-caret-down{
            left: 7px;
            top: 17px;
            font-size: 10px;
          }
          .fa-comment{
            left: 18px;
          }
        }
      }
    }
    .primary-symbol{
      position: absolute;
      top: 0px;
      left: -35px;
      height: 70px;
      width: 70px;
      border-radius: 50%;
      .chekbox{
        font-size: 35px;
        position: absolute;
        height: 40px;
        width: 40px;
        top: 16px;
        left: 16px;
        background: white;
        border-radius: 12%;

        .checkmark{
          color: #FFF4EF;
          font-size: 34px;
        }
        .checkmark:before{
          font-family: "FontAwesome";
          content: "\f00c";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

        }
        .checkmark:hover{
          color: #00D82D;

        }
        .checked{
          color: #00D82D;

        }
      }
    }


    .secondary-symbol{
      position: absolute;
      top: 70px;
      left: -20px;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      .img{
        font-family: "FontAwesome";
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}


/*$task-primary-color: #FFB236;
$task-secondary-color: #F37800;
*/

/* $task-primary-color: #FFAE8A;
$task-secondary-color: #F7D0BF; */
$task-primary-color: #ffb900;//#FFDF8A;
$task-secondary-color: #FF9C33;
$task-tertiary-color: #FFF0CA;

.task, .task-s{
  .title{
    color: $task-secondary-color;
  }
  .user{
    color: $task-secondary-color !important;
  }

  .details{
    .edit-menu{
      .circle{
        &.edit{
          background: #f7b064;
        }
        &.delete{
          background-color: $task-secondary-color;
        }
        &.comments{
          background: $task-primary-color;
        }
        &.edit:hover, &.edit:focus{
          background: #eca253;
        }
        &.delete:hover, &.delete:focus{
          background-color: #f5932b;
        }
        &.comments:hover, &.comments:focus{
          background: #f1af00;
        }
      }
    }
  }

  .dates{
    .start-date:before{
      padding: 0 5px;
      font-family: "FontAwesome";
      content:"\f073";
    }
    .end-date:before{
      padding: 0 5px;
      font-family: "FontAwesome";
      content:"\f073";
    }
    .separator{
      padding: 0 5px;
    }
  }
  .comment-box{
    .user{
      color: $task-secondary-color;
    }
    .btn{
      color: $task-secondary-color;
      border-color: $task-secondary-color;
    }

    .btn:hover{
      color: white;
      background: $task-secondary-color;
    }

    .btn:focus{
      color: white;
      background: $task-secondary-color;
    }
  }

  .primary-symbol{
    background-color: $task-primary-color;
  }

  .secondary-symbol{
    background-color: $task-secondary-color;
    .img0:before{
      content:"\f07a";
    }
    .img1:before{
      content:"\f0f5";
    }
    .img2:before{
      content:"\f0ad";
    }
    .img3:before{
      content:"\f06c";
    }
    .img4:before{
      content:"\f085";
    }
  }
}

.task-list{
  .selected{
    color: $task-secondary-color;
  }
  .selectable.header:hover{
    color: $task-secondary-color;
  }
}
.task.item-list{
  .item:hover{
    background-color: $task-secondary-color;
    .title{
      color: white;
    }
  }
  .item:before{
    content:"\f129";
  }
  .item{
    background-color: $task-tertiary-color;
    &.selected{
      background: $task-secondary-color;
      .title{
        color: white;
      }
    }
  }
  .title{
    color: $task-secondary-color;
  }
}

.option-menu{
  margin-left: 60px;
  margin-top: 50px;
  .option{
    margin: 10px 0px;
    .checkbox{
      position: relative;
      width: 50px;
      height: 25px;
      background-color: #E8E8E8;
      border-radius: 20px;
      display: inline-block;
      top: 8px;
      margin-right: 10px;
      transition: background-color 0.05s linear;
      .mark{
        transition-timing-function: linear;
        transition-duration: 0.1s;
        position: absolute;
        height: 27px;
        width: 27px;
        top: -2px;
        transform: translate(-2px, 0px);
        border-radius: 50%;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.45);
        background-color: #e8e8e8;
        &.selected{
          transform: translate(24px, 0px);
        }
      }
      &.selected{
        background-color: #78ef80;
      }
    }
    .title{
      display: inline-block;
      font-size: 20px;
      color: #CACACA;
      font-weight: 100;
    }
  }
}


.no-tasks{
  text-align: center;
  padding: 70px;
  font-size: 16px;
  color: #cacaca;
}


.task-list{
  display: inline-block;
  vertical-align: middle;
  margin: 20px;
  font-weight: 200;
  color: #CACACA;
  .selected{
    font-weight: 500;
  }
  .header.selectable{
    cursor: pointer !important;
  }
  .header{
    font-size: 20px;
    position: relative;
    margin-right: 20px;
    cursor: default;
    .item-count{
      display: inline-block;
      min-width: 10px;
      padding: 3px 7px;
      font-size: 12px;
      font-weight: 700;
      line-height: 1;
      color: white;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      background-color: #CACACA;
      border-radius: 10px;
      position: relative;
      bottom: 1px;
      margin-left: 7px;
      &.done{
        background-color: #c2f7c6;
      }
      &.undone{
        background-color: #fbe1e2;
      }
    }
    &.selected{
      .item-count.done{
        background-color: #78ef80;
      }
      .item-count.undone{
        background-color: #f7777b;
      }
    }
  }
}
