.index-layout{
  .header-section{
    padding: 20px 20px;
    min-height: 110px;
    margin-top: 20px;
    .title{
      text-transform: uppercase;
      font-weight: normal;
      color: #9E9E9E;
      vertical-align: middle;
      font-size: 40px;
      display: inline-block;
    }


    .new-task{
      float: right;
      position: relative;
      margin-left: 34px;
      display: inline-block;
      border: 1px solid #E8E8E8;
      padding: 16px 49px;
      cursor: pointer;
      .symbol{
        display: inline-block;
        height: 70px;
        width: 70px;
        background: #FF8C59;
        border-radius: 50%;
        position: absolute;
        color: white;
        /* top: 5px; */
        /* left: -75px; */
        top: -1px;
        left: -34px;
        .img:before{
          font-family: "FontAwesome";
          font-size: 40px;
          content:"\f067";
          position: absolute;
          top: 54%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

      }
      .header{
        display: inline-block;
        font-size: 25px;
        color: grey;
      }

    }
  }
  .column{
    min-height: 200px;
    padding: 0px;
    .section{
      position: relative;
      margin: 20px;
      padding: 20px;
      background: rgba(224, 206, 176, 0.24);
      .header{
        display: inline-block;
        color: #949494;
      }
      .symbol{
        font-family: "FontAwesome";
        font-size: 40px;
        color: #F7D0BF;
        display: inline-block;
        margin-right: 20px;
      }
      .symbol_buy:before{
        content:"\f07a";
      }
      .symbol_fix:before{
        content:"\f0ad";
      }
      .symbol_food:before{
        content:"\f0f5";
      }
      .symbol_other:before{
        content:"\f085";
      }
      .symbol_nature:before{
        content:"\f06c";
      }
    }
  }
}


.task, .task-s{
  margin: 60px 150px;
  .box{
    position: relative;
    padding: 22px 50px;
    border: 1px solid #E8E8E8;
    background: white;
    .title{
        text-transform: uppercase;
        font-size: 24px;
    }
    .overlined{
      text-decoration: line-through;
    }
    .content{
      margin: 20px 0px;
      font-size: 18px;
      color: grey;
    }
    .details{
      margin-top: 10px;
      .created-at{
        padding-right: 20px;
      }
      .user{
        padding-right: 20px;
      }
      .comment-count{
        padding-right: 20px;
      }
      .created-at:before{
        padding-right: 5px;
        font-size: 20px;
        font-family: "FontAwesome";
        content: "\f073";
      }
      .user:before{
        padding-right: 5px;
        font-size: 20px;
        font-family: "FontAwesome";
        content:"\f007";
      }
      .comment-count:before{
        padding-right: 5px;
        font-size: 20px;
        font-family: "FontAwesome";
        content:"\f075";
      }
    }
    .edit-menu{
      position: absolute;
      top: 0px;
      right: -12px;
      .delete{
        font-size: 34px;
        color: #FFE0E7;
        padding: 2px;
        display: block;
      }
      .delete:hover{
        color: #F57373;
      }
      .update{
        font-size: 30px;
        color: #B9F7DE;
        padding: 2px;
        display: block;
      }
      .update:hover{
        color: #69A96D;
      }
    }
    .show-comments-btn{
      display: inline-block;
      position: absolute;
      bottom: -19px;
      right: 50%;
      font-size: 25px;
      color: #E4E4E4;
      .img{
        padding: 2px;
      }

    }
    .show-comments-btn:hover{
        color: grey;
    }

    .primary-symbol{
      position: absolute;
      top: -2px;
      left: -35px;
      height: 70px;
      width: 70px;
      border-radius: 50%;
      .chekbox{
        font-size: 35px;
        position: absolute;
        height: 40px;
        width: 40px;
        top: 16px;
        left: 16px;
        background: white;
        border-radius: 12%;

        .checkmark{
          color: #FFF4EF;
          font-size: 34px;
        }
        .checkmark:before{
          font-family: "FontAwesome";
          content: "\f00c";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

        }
        .checkmark:hover{
          color: #00D82D;

        }
        .checked{
          color: #00D82D;

        }
      }
    }
    .secondary-symbol{
      position: absolute;
      top: 68px;
      left: -25px;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      .img{
        font-family: "FontAwesome";
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

.task-s{
  .box{
    padding: 2px 50px;
    border: 0px;
    .title-container{
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .details{
      margin-top: 0px;
    }
    .show-comments-btn{
      color: #F7D0BF;
    }
  }
}

/*$task-primary-color: #FFB236;
$task-secondary-color: #F37800;
*/

$task-primary-color: #FFAE8A;
$task-secondary-color: #F7D0BF;
.task, .task-s{
  .title{
    color: $task-primary-color;
  }
  .details{
    .created-at:before, .user:before, .comment-count:before{
      color: $task-secondary-color;
    }
  }
  .dates{
    .start-date:before{
      padding: 0 5px;
      font-family: "FontAwesome";
      content:"\f073";
    }
    .end-date:before{
      padding: 0 5px;
      font-family: "FontAwesome";
      content:"\f073";
    }
    .separator{
      padding: 0 5px;
    }
  }
  .comment-box{
    .user{
      color: $task-secondary-color;
    }
    .btn{
      color: $task-secondary-color;
      border: 2px solid $task-secondary-color;
    }

    .btn:hover{
      color: white;
      background: $task-secondary-color;
    }

    .btn:focus{
      color: white;
      background: $task-secondary-color;
    }
  }

  .primary-symbol{
    background-color: $task-primary-color;
  }

  .secondary-symbol{
    background-color: $task-secondary-color;
    .img0:before{
      content:"\f07a";
    }
    .img1:before{
      content:"\f0f5";
    }
    .img2:before{
      content:"\f0ad";
    }
    .img3:before{
      content:"\f06c";
    }
    .img4:before{
      content:"\f085";
    }
  }
}


