.event.task{
  .title{
    color: $task-secondary-color;
  }
  .user{
    color: $task-secondary-color !important;
  }

  .edit-menu{
     .color-circle {
       &.edit{
         background: $task-light-color;
       }
       &.delete{
         background-color: $task-secondary-color;
       }
       &.comments{
         background: $task-primary-color;
       }
       &.edit:hover, &.edit:focus{
         background: $task-light-color-hover;
       }
       &.delete:hover, &.delete:focus{
         background-color: $task-secondary-color-hover;
       }
       &.comments:hover, &.comments:focus{
         background: $task-primary-color-hover;
       }
     }
  }

  .comment-box{
    .user{
      color: $task-secondary-color;
    }
    .btn{
      color: $task-secondary-color;
      border-color: $task-secondary-color;
    }

    .btn:hover{
      color: white;
      background: $task-secondary-color;
    }

    .btn:focus{
      color: white;
      background: $task-secondary-color;
    }
  }

  .primary-symbol{
    background-color: $task-primary-color;
    top: 0px;
    .chekbox{
      position: absolute;
      height: 40px;
      width: 40px;
      top: 16px;
      left: 16px;
      background: white;
      border-radius: 12%;

      .checkmark{
        color: #FFF4EF;
        font-size: 2.2rem;
      }
      .checkmark:before{
        font-family: "FontAwesome";
        content: "\f00c";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

      }
      .checkmark:hover{
        color: #00D82D;

      }
      .checked{
        color: #00D82D;

      }
    }
  }
  .secondary-symbol{
    background-color: $task-secondary-color;
    top: 70px;
    .num0:before{
      content:"\f07a";
    }
    .num1:before{
      content:"\f0f5";
    }
    .num2:before{
      content:"\f0ad";
    }
    .num3:before{
      content:"\f06c";
    }
    .num4:before{
      content:"\f085";
    }
  }
}

.task-list{
  .selected{
    color: $task-secondary-color;
  }
  .selectable.header:hover{
    color: $task-secondary-color;
  }
}
.task.item-list{
  .item:hover{
    background-color: $task-secondary-color;
    .title{
      color: white;
    }
  }
  .item:before{
    content:"\f129";
  }
  .item{
    background-color: $task-tertiary-color;
    &.selected{
      background: $task-secondary-color;
      .title{
        color: white;
      }
    }
  }
  .title{
    color: $task-secondary-color;
  }
}
