.user-menu{
  margin: 5px 0;
  .user-logo:before{
    content:"\f007";
    font-family: FontAwesome;
  }
  .user-logo{
    color: white;
    margin: 0 15px;
    text-shadow: 0px 0px 18px black;
    display: inline-block;
  }
  .btn{
    display: inline-block;
  }
}
