.comment-list{
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
  border: 1px solid rgba(0, 0, 0, 0.09);
  .comment{
    margin: 10px;
    position: relative;
    font-size: 1rem;
    border-bottom: 1px solid #f1f1f1;
    padding: 10px 40px 10px 10px;
    color: rgba(0, 0, 0, 0.54);
    &:last-child{
      border-bottom: none;
    }
    .user{
      font-weight: 500;
      padding-right: 7px;
    }
    .user:before{
      font-family: "FontAwesome";
      content:"\f007";
      padding-right: 2px;
    }
    .date{
      margin-top: 5px;
      font-size: 1rem;
      color: rgba(0, 0, 0, 0.3);
    }
    .date:before{
      font-family: FontAwesome;
      content: "\F073";
      margin-right: 5px;
    }
    .delete:before{
      font-family: FontAwesome;
      content:"\f1f8";
    }
    .delete{
      position: absolute;
      right: 15px;
      top: 10px;
      color: rgba(0, 0, 0, 0.18);
    }
    .delete:hover{
      color: #F57373;
    }
  }
}
