.language-dropdown{
  position: absolute;
  user-select: none;
  top: 0px;
  right: 0px;
  .language-container{
    color: white;
    padding: 20px 20px;
    cursor: pointer;
    font-size: 19px;
    text-align: center;
    .chosen-language {
      padding: 0px 8px;
      display: inline-block;
    }
    &.open{
      background: rgba(114, 222, 219, 0.65);
      border-top-right-radius: 2px;
      border-top-left-radius: 2px;
    }
  }
  .btn{
    display: inline-block;
  }
  .language-list {
    background: white;
    color: black;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
    border: 1px solid rgba(0, 0, 0, 0.09);
    font-size: 15px;
    position: absolute;
    min-width: 100%;
    right: 0px;
    .list-item{
      padding: 10px;
      cursor: pointer;
      &:hover{
        background: #f5f3f4;
      }
      i{
        margin-right: 5px;
        width: 20px;
        color: #934d68;
      }
    }

  }
}
