.list-reservations{
  .no-reservations{
    padding: 35px 50px 25px 50px;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0,0,0,.04);
    border: 1px solid rgba(0,0,0,.09);
    text-align: center;
    color: grey;
    margin-bottom: 20px;
  }
  .list{
    margin-top: 27px;
  }

}
