.login{
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.5);
  }
  .img{
    background-color: black;
    background-size: cover;
    background-position: bottom center;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
  }

  .content{
    position: absolute;
    text-align: center;
    textarea:focus, input:focus{
      outline: none;
    }

    .title{
      width: 460px;
      font-size: 7rem;
      color: white;
      //font-family: 'Euphoria Script', cursive;
      //font-family: 'Dancing Script', cursive;
      //font-family: 'Kaushan Script', cursive;
      font-family: 'Sacramento', cursive;
      //font-family: 'Cabin Sketch', cursive;
    }

    @media(max-width: 500px){
      .title{
        font-size: 20vw;
        width: 100vw;
      }
    }

    .login-form-input{
      display: block;
      width: 80%;
      height: 40px;
      padding: 6px 20px;
      font-size: 1.1rem;
      color: #555;
      background-color: rgba(255,255,255,0.85);
      border: 1px solid #ccc;
      border-radius: 10px;
      margin: auto;
      margin-bottom: 15px;
      font-weight: 100;

    }
    .login-btn{
      border: none;
      text-transform: uppercase;
      color:  #e2e2e2;
      background: rgba(114, 222, 219, 0.65);
      width: 80%;
      border-radius: 10px;
      margin: auto;
      margin-bottom: 5px;
      height: 40px;
      font-size: 1.3rem;
    }
    .login-btn:hover, .login-btn:focus{
      color: white;
      background: rgba(114, 222, 219, 0.80);
      outline: none;
    }
  }
}
