.nav-bar {
  padding: 0;
  margin: 0;
  color: white;
  position: absolute;
  z-index: 100;
  font-family: Roboto, sans-serif;
  font-size: 1.2rem;
  top: 0;
  width: 100vw;
  //background: rgba(76, 0, 255, 0.21);
  background: rgba(119, 34, 140, 0.30);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 15px;

  .logo{
    flex-grow: 0;
    font-size: 2.9rem;
    text-shadow: 0px 0px 18px black;
    font-family: 'Sacramento', cursive;
    cursor: pointer;

    a {
      color: white;
      text-decoration: none;
      height: 100%;
      padding: 25px 1vw;
      display: block;

      &.active {
        //background: rgba(128, 0, 29, 0.45);
      }
    }
  }
  .links {
    flex-grow: 1;
    flex-shrink: 0;
    text-align: center;
    .menu-btn {
      background: transparent;
      color: white;
      text-transform: uppercase;
      font-size: 1rem;
      font-weight: 100;
      font-family: Arial, sans-serif;
      cursor: pointer;
      display: inline-block;
      a {
        color: white;
        text-decoration: none;
        height: 100%;
        padding: 25px 1vw;
        display: block;
        &.active {
          background: rgba(162, 60, 99, 0.58);
        }
      }
    }
    .menu-btn:focus, .menu-btn:hover {
      a{
        background: rgba(162, 60, 99, 0.58);
      }
    }
  }
  .right-menu{
    flex-grow: 0;
  }
  .icon{
    display: none;
  }
}


@media screen and (max-width:1070px) {
  .nav-bar{
    flex-direction: column;
    align-items: stretch;
    padding-right: 0px;
    .links, .right-menu{
      display: none;
    }
    .icon {
      float: right;
      display: inline-block;
      color: white;
      padding: 5px 10px;
      font-size: 1.3rem;
      border: 2px solid white;
      border-radius: 7px;
      margin: 10px;
      cursor: pointer;
      position: absolute;
      right: 15px;
      top: 8px;
      &:hover, &:focus{
        color: black;
        background: white;
      }
    }
  }

  .nav-bar.open {
    position: absolute;
    background: rgba(44, 32, 47, 0.92);
    z-index: 2000;
    .logo, .links{
      display: block;
    }
    .right-menu{
      display: flex;
      align-self: flex-end;
    }
    .user-menu{
      padding-right: 20px;
      .language-list {
        min-width: calc( 100% - 20px);
        margin-right: 20px;
      }
    }
    .menu-btn{
      padding: 0px;
      display: block;
      text-align: left;
      a{
        padding: 15px 20px;
        &.active {
          background: rgba(162, 60, 99, 0.58);
        }
      }
      &:hover, &:focus{
        a{
          background: rgba(162, 60, 99, 0.58);
        }
      }
    }
  }

}
