.notifications{
  position: fixed;
  top: 0;
  z-index: 101;
  width: 100%;
  .notification{
    position: relative;
    width: 70%;
    padding: 20px 60px;
    margin: 20px auto;
    border-radius: 5px;
    color: white;
    background: rgba(0, 0, 0, 0.60);
    .icon{
      font-family: FontAwesome;
      margin-right: 20px;
      font-size: 20px;
      position: absolute;
      left: 20px;
    }
    &.error{
      background: rgba(255, 0, 116, 0.60);
      .icon:before{
        content:"\f071";
      }
    }
    &.success{
      background: rgba(86, 226, 161, 0.88);
      .icon:before{
        content:"\f058";
      }
    }
    .removeBtn{
      display: inline-block;
      float: right;
      position: absolute;
      right: 20px;
      padding: 10px;
      top: 12px;
      cursor: pointer;
    }
  }
}

