.photoset-container {
  flex: 0 0 24%;
  margin: 10px 0px;
  @media (max-width: $md-size){
    flex: 0 0 32%;
  }
  @media (max-width: $sm-size){
    flex: 0 0 49%;
  }
  @media (max-width: $xs-size) {
    flex: 1 1 100%;
    margin: 10px 1vw;
  }
  .photoset {
    position: relative;
    cursor: pointer;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .04);
    border: 1px solid rgba(0, 0, 0, .09);
    padding: 35px 20px 0px 20px;
    .photoset-img {
      background-repeat: no-repeat;
      background-position: center center;
      background-color: #fff;
      background-size: cover;
      padding-bottom: 85%;
      transition: opacity 0.5s;
      &.loaded {
        opacity: 1;
      }
      &.notLoaded {
        opacity: 0;
        padding-bottom: 0;
      }
    }
    .placeholder {
      padding-bottom: 85%;
      background-color: #e8e2e8;
      transition: opacity 0.1s;
      &.loaded {
        opacity: 0;
        padding-bottom: 0;
      }
      &.notLoaded {
        opacity: 1;
      }
    }
    .info {
      position: relative;
      margin: 30px 0px;
      text-align: left;
      display: flex;
      .title{
        flex: 0 1 80%;
        width: 1px; //why???
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis
      }
      .amount {
        right: 0px;
        font-style: italic;
        color: grey;
        flex: 1 0 20%;
        white-space: nowrap;
      }
    }
    &:hover {
      box-shadow: 0 1px 11px rgba(133, 47, 140, 0.39);
    }
  }
}

.event.photoset{
  .box{
    min-height: 250px;
    padding-right: 260px;
    @media (max-width: $xs-size) {
      min-height: 152px;
      padding-right: 157px;
    }
  }
  .title{
    color: $gallery-secondary-color;
  }
  .info .user{
    color: $gallery-secondary-color !important;
  }
  .content{
    height: 250px;
    width: 250px;
    @media (max-width: $xs-size) {
      width: 150px;
      height: 150px;
    }
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 0;
    background-size: cover;
    background-position: center center;
    margin: 0;
  }

  .info{
    padding-right: 270px;
    @media (max-width: $xs-size) {
      padding-right: 12px;

    }
    .edit-menu {
      @media (max-width: $xs-size) {
        padding-left: 72px;

      }
      .color-circle {
        &.edit {
          background: $gallery-light-color;
        }
        &.delete {
          background-color: $gallery-primary-color;
        }
        &.edit:hover, &.edit:focus {
          background: $gallery-light-color-hover;
        }
        &.delete:hover, &.delete:focus {
          background-color: $gallery-secondary-color-hover;
        }
      }
    }
  }

  .primary-symbol{
    background-color: $gallery-primary-color;
    .img:before{
      content:"\f03e";
    }
  }

}
