.view-menu{
  position: absolute;
  top: 70px;
  height: 180px;
  width: 100vw;
  padding-right: 15px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  .page-title{
    color: white;
    font-size: 40px;
    line-height: 40px;
    padding: 20px;
  }
  .links{
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    .link{
      color: white;
      a{
        color: white;
        text-decoration: none;
        font-weight: 400;
        font-size: 20px;
        line-height: 40px;
        display: block;
        span{
         text-shadow: 0 0 9px rgba(0, 0, 0, 0.79);
        }
      }
      .icon-container{
        display: inline-block;
        height: 43px;
        width: 43px;
        border-radius: 50%;
        position: relative;
        margin: 10px;
        vertical-align: middle;
        box-shadow: 0 1px 2px rgba(33, 33, 33, 0.33);
      }
      .icon{
        display: inline-block;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
      .icon:after{
        font-family: FontAwesome;
      }
      &.add{
        .icon:after{
          content:"\f067";
        }
      }
      &.list{
        .icon:after{
          content:"\f0ae";
        }
      }
    }
  }
}
